body {
    font-family: roboto;
}

.footer, .hero{
    justify-content: space-between;
    background-color: #1F2937;
}

.hero1 {
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
}

.button1, .button2 {
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    color: #F9FAF8;
    font-size: 2vw;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.p1 {
    font-size: 5vw;
    font-weight: bolder;
    color: #F9FAF8;
}

.p2 {
    font-size: 3vw;
    color: #E5E7EB;
}
.header-links{
    padding: 8px;
    display: flex;
    gap: 16px;
    font-size: 2vw;
    color: #E5E7EB;
}

.logo {
    flex: 1;
}
ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.section1 {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;

}

.sec-content {
    
}

.sec-content-image {
}

.title {
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    font-size: 5vw;
}

.section2 {
    display: flex;
    justify-content: space-between;
    padding: 36px;
}

.branch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border-radius: 20px;
    border-color: #7d22c2;
    border-width: 3px;
    border-style: dashed;
    background-color: rgb(228, 226, 226);
    font-size: 2vw;
    color: rgb(20, 14, 14);
    font-weight: 900;
    margin: 2px;
    padding: 5px;
}

.section3 {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.sec3-content {
    width: 75%;
    font-size: 3vw;
    font: #1F2937;
    font-style: italic;
}

.p4 {
    text-align: right;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 0px;
}

.p5 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}


.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.blue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(61, 123, 218);
    border-radius: 5px;
    width: 60%;
    max-height: fit-content;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.blue-content {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.button3 {
    border-radius: 2px;
    border: 2px solid white;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 2px;
    font-size: 2vw;
    background-color: transparent;
}

.p6 {
    color: white;
    font-weight: bolder;
    font-size: 4vw;
    padding: 0px;
    margin: 0px;
}

.p7 {
    color: white;
    font-size: 2.5vw;
    padding: 0px;
    margin: 0px;
}

.footer {
    align-items: center;
    color: white;
    text-align: center;
    font-size: 3vw;
    font-weight: bolder;
    padding: 5px;
}